.espacio{
    font-size: 300px;
}

.logo1{
    width: 200px;
}

/*Sobre nosotros*/

.banner{
    width: 1200px;
    height: 500px;
    background-image: url(../img/banner-sobre-nosotros.png);
    background-position: center;
}

.title h1{
    text-align: center;
    padding: 170px;
    color: white;
    font-size: 100px;
}

.information{
    padding: 40px;
    font-size: 20px;
}

/*mision, vision y valores*/

.seccion{
    margin: 10px;
    margin-bottom: 10px;
}

.mision-vision-valores{
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    font-size: 18px;
    text-align: justify;
}

.seccion h3{
    text-align: center;
    padding-right: 100px;
    padding-top: 10px;
}

.seccion img{
    padding: 15px;
    padding-top: 70px;
    float: left;
}

.seccion p{
    padding: 14px;
}

.seccion p{
    text-align: left;
}